h3{
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  color:black;
}

img .gal{
  width: 200px; 
  height: 250px;
}

.range {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:   border-box;
  box-sizing:        border-box;
  max-width:900px;
  margin:0 auto 5em auto;
  padding: 0em;
}

.box {
  position: relative;
  width: 200px;
  height: 0px;
  
  margin: 0.5%;
  padding-bottom: 353px;
  float: left;
  opacity: 0.65;
}

.flip,
.bar {
  position: absolute;
}

.flip {
  top:0px;
  left:0px;
  width:100%;
  height:300px;
  overflow:hidden;
  background:rgba(255,255,255,0.5);
  cursor: pointer;
  -webkit-animation:flipout 0.5s ease forwards;
  -moz-animation:   flipout 0.5s ease forwards;
  -o-animation:     flipout 0.5s ease forwards;
  animation:        flipout 0.5s ease forwards;
}

.bar {
  bottom:0px;
  left:0px;
  width:100%;
  background: white;
}

.bar h3 {
  font-size:1.5rem;
  font-weight:300;
  text-transform:uppercase;
  letter-spacing:3px;
}

.box:hover {
   opacity: 1; 
}

.box:hover > .flip {
  background: rgba(255,255,255,0.8);
  -webkit-animation:flipin 0.5s ease forwards;
  -moz-animation:   flipin 0.5s ease forwards;
  -o-animation:     flipin 0.5s ease forwards;
  animation:        flipin 0.5s ease forwards;
}

@-webkit-keyframes flipout {
  0% {-webkit-transform: translate(0px, 0px) scale(1);}
  30% {-webkit-transform: translate(0px, -30px) scale(0.98);}
  100% {-webkit-transform: translate(0px, 0px) scale(0.9);}
}

@-o-keyframes flipout {
  0% {-o-transform: translate(0px, 0px) scale(1);}
  30% {-o-transform: translate(0px, -30px) scale(0.98);}
  100% {-o-transform: translate(0px, 0px) scale(0.9);}
}

@-moz-keyframes flipout {
  0% {-moz-transform: translate(0px, 0px) scale(1);}
  30% {-moz-transform: translate(0px, -30px) scale(0.98);}
  100% {-moz-transform: translate(0px, 0px) scale(0.9);}
}

@keyframes flipout {
  0% {transform: translate(0px, 0px) scale(1);}
  30% {transform: translate(0px, -30px) scale(0.98);}
  100% {transform: translate(0px, 0px) scale(0.9);}
}

@-webkit-keyframes flipin {
  0% {-webkit-transform: translate(0px, 0px) scale(0.9);}
  30% {-webkit-transform: translate(0px, -30px) scale(0.98);}
  100% {-webkit-transform: translate(0px, 0px) scale(1);}
}

@-o-keyframes flipin {
  0% {-o-transform: translate(0px, 0px) scale(0.9);}
  30% {-o-transform: translate(0px, -30px) scale(0.98);}
  100% {-o-transform: translate(0px, 0px) scale(1);}
}

@-moz-keyframes flipin {
  0% {-moz-transform: translate(0px, 0px) scale(0.9);}
  30% {-moz-transform: translate(0px, -30px) scale(0.98);}
  100% {-moz-transform: translate(0px, 0px) scale(1);}
}

@keyframes flipin {
  0% {transform: translate(0px, 0px) scale(0.9);}
  30% {transform: translate(0px, -30px) scale(0.98);}
  100% {transform: translate(0px, 0px) scale(1);}
}

